<%- partial('_partial/head') %>
<body>
  
  <div>
    <div style="background:#eee;">
      
      <%- partial('_partial/header')%>
      <div class="outer">
        <%- body %>
      </div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>