<%- partial('_partial/head') %>
<body>
  <div>
    <div style="background:#eee;">
      
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div class="outer">
        <%- body %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>